* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px #666666 solid;
    animation: drop 1.5s ease;
}

.brand {
    padding: 1vw 1vw 1vw 1.8vw;
    margin-right: 7.2vw;
    margin-left: 0.3vw;
    color: black;
    font-family: 'Lato', sans-serif;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 16fr 4fr;
    padding: 1vw 1.8vw 1vw 1vw;
    margin-left: 7.2vw;
}

.home {
    margin-right: 15px;
    text-align: end;
}

.home li {
    list-style: none;
}

.home li a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

.home li a:hover {
    border-bottom: 2px black solid;
}

.about {
    text-align: end;
}

.about li {
    list-style: none;
}

.about li a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}

.about li a:hover {
    border-bottom: 2px black solid;
}

.active-nav-link {
    border-bottom: 2px black solid;
}

.body-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

img {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    animation: enterleft 2.5s ease;
}

.intro-wrapper {
    padding-top: 4.5vw;
    padding-right: 120px;
    animation: enterright 3.5s ease;
}

h1 {
    color: black;
    font-family: 'Lato', sans-serif;
}

.paragraph-wrapper {
    color: black;
    font-family: 'Lato', sans-serif;
}

.second-paragraph {
    margin-top: 50px;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes enterleft {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes enterleftt {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes enterright {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes enterrightt {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .body-container {
        margin-top: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .brand {
        padding: 1vw 1vw 1vw 1.8vw;
    }
    .nav-wrapper {
        padding: 1vw 1.8vw 1vw 1vw;
    }
    .image-wrapper {
        margin-top: 7vw;
    }
    img {
        width: 40vh;
        height: 40vh;
        animation: enterleftt 2.5s ease;
    }
    .intro-wrapper {
        margin-top: 50px;
        padding-bottom: 50px;
        padding-left: 6vw;
        padding-right: 6vw;
        animation: enterrightt 3.5s ease;
    }
}
